.App {
  align-items: center;
  text-align: center;
  background-image: url('https://previews.dropbox.com/p/thumb/AAquv7gwKTkB4QmMG9fu0sG00dX_cX8yVj8v3NqA9M5S99i5pIXVMSBayc_-iBFfBTmqs2WOhi2HYTznLsGkhVEQCXYpyS5yFXWgV1k5PwHys8DIP96IDmjk0Qae4tb81InsqAr-ZdGLGLWVGshEbu2Kc8QUcYMnjgdmYUxcXlk66qlINcJwW4ADox9EfSnvEnK5u6FWf7SUO8_HSWt_ToXu_YnrDhCaIyAdq2G4xUaCW3es74uWY9echKbbPMf4rDp-aS0P_UOLKaR6kZD4_0qQrFYNhHOxcNP2FFabFfiTTe17PAEymtCRaWFqE5A6tz-SWdj40ZWRqf6-c378L5xm/p.jpeg?size=800x600&size_mode=3');
  background-size: cover;
  background-repeat: no-repeat;
}

.fancy-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.fancy-scrollbar::-webkit-scrollbar {
  width: 20px;
}
.fancy-scrollbar::-webkit-scrollbar {
  width: 10px;
}
.fancy-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 100, 0, 0.5);
  border-radius: 10px;
}
