#wordToday {
  font-family: 'Quicksand', sans-serif;
  font-style: oblique;
  color: rgba(0, 0, 0, .8);
}
.thought {
  background-color: #ffffe5;
  border: none;
  border-color: rgba(0, 0, 0, .8);
  font-family: 'Quicksand', sans-serif;
  padding: 15px;
  margin-bottom: 10px;
  border-top: none;
  border-radius: 25px;
}
.thought p {  
  display: table-cell;
  vertical-align: middle;
  color: rgba(0, 0, 0, .8);
  font-size: 16px;
}
